<html>
<head>
<style>
.regText {
    font-size: 15px;
    font-family: verdana;
}
.titleText {
    font-size: 40px;
    font-family: verdana;
}
.pageTitle {
    font-size: 30px;
    font-family: verdana;
}
.all {
    text-align: center;
}
.titleBox {
    background-color: lightblue;
    margin-right: 200px;
    margin-left: 200px;
    padding: 30px;
}
.formBox {
    background-color: lightblue;
    margin-right: 200px;
    margin-left: 200px;
    padding: 30px;
}
td, th {
    width: 50%;
    border-style: none;
    text-align: left;
    padding: 8px;
}
table {
    border-style: none;
    border-collapse: collapse;
    width: 90%;
}
</style>
</head>


<body>
    <div class="all">
    <title>News Source Polarity Analyzer</title>

    <div class="titleBox">
    <div class="titleText">
        <strong>News Source Polarity Analyzer</strong>
    </div>
    </div>

    <div class="formBox">

        <form action="/" method="POST">
            <strong>Choose sources to compare<br/></strong>
            <input list="sources1" name="sources1">
            <datalist id="sources1">
                <option value="CNN headlines (500)">
                <option value="CNN articles (50)">
                <option value="New York Post headlines (500)">
                <option value="New York Post articles (50)">
                <option value="New York Times headlines (500-limited)">
                <option value="New York Times articles (50)">
                <option value="Washington Post headlines (500)">
                <option value="Daily Wire headlines (500-limited)">
                <option value="Daily Wire articles (50)">
                <option value="FOX headlines (500-limited)">
                <option value="FOX articles (50)">
                <option value="Huffington Post headlines (500-limited)">
                <option value="Huffington Post articles (50)">
            </datalist>

            <input list="sources2" name="sources2">
            <datalist id="sources2">
                <option value="CNN headlines (500)">
                <option value="CNN articles (50)">
                <option value="New York Post headlines (500)">
                <option value="New York Post articles (50)">
                <option value="New York Times headlines (500-limited)">
                <option value="New York Times articles (50)">
                <option value="Washington Post headlines (500)">
                <option value="Daily Wire headlines (500-limited)">
                <option value="Daily Wire articles (50)">
                <option value="FOX headlines (500-limited)">
                <option value="FOX articles (50)">
                <option value="Huffington Post headlines (500-limited)">
                <option value="Huffington Post articles (50)">
            </datalist>

            <br/><br/>
            <label for="keywords">Keywords (separate by a comma and a space): </label>
            <input type="text" id="keywords" name="keywords"><br><br>
            <input type="submit" value="Submit"/>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <span style="color: red;">[{{ message }}]</span>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        {% if finishedReading is defined %}
        
        {% if keywordArr|length > 1 %}
            <p>Keywords searched: {{ keywords }}</p>
        {% else %}
            <p>Keyword searched: {{ keywords }} </p>
        {% endif %}

        <table>
            <tr>
                {% if source1 == None %}
                    <th> </th>
                {% else %}
                    <th>{{ source1 }}</th>
                {% endif %}
                {% if source2 != None %}
                    <th>{{ source2 }}</th>
                {% endif %}
            </tr>
            
            <tr>
                {% if typed1 != None %}
                <td>
                {% if typed1 == "articles" %}
                Number of articles: {{ source1Dict["numArticles"] }} <br/>
                Number of sentences: {{ source1Dict["numSentences"] }}<br/>
                % Negative sentences: {{ source1Dict["Negative sentences"] }}%<br/>
                % Neutral sentences: {{ source1Dict["Neutral sentences"] }}%<br/>
                % Positive sentences: {{ source1Dict["Positive sentences"] }}%<br/>
                % Negative articles: {{ source1Dict["Negative articles"] }}%<br/>
                % Neutral articles: {{ source1Dict["Neutral articles"] }}%<br/>
                % Positive articles: {{ source1Dict["Positive articles"] }}%<br/><br/>
                
                {% else %}
                Number of headlines: {{ source1Dict["numHeadlines"] }}<br/>
                % Negative: {{ source1Dict["Negative headlines"] }}%<br/>
                % Neutral: {{ source1Dict["Neutral headlines"] }}%<br/>
                % Positive: {{ source1Dict["Positive headlines"] }}%<br/><br/>
                {% endif %}
                </td>
                {% else %}
                <td> </td>
                {% endif %}

                {% if typed2 != None %}
                <td>
                {% if typed2 == "articles" %}
                Number of articles: {{ source2Dict["numArticles"] }} <br/>
                Number of sentences: {{ source2Dict["numSentences"] }}<br/>
                % Negative sentences: {{ source2Dict["Negative sentences"] }}%<br/>
                % Neutral sentences: {{ source2Dict["Neutral sentences"] }}%<br/>
                % Positive sentences: {{ source2Dict["Positive sentences"] }}%<br/>
                % Negative articles: {{ source2Dict["Negative articles"] }}%<br/>
                % Neutral articles: {{ source2Dict["Neutral articles"] }}%<br/>
                % Positive articles: {{ source2Dict["Positive articles"] }}%<br/><br/>
                
                {% else %}
                Number of headlines: {{ source2Dict["numHeadlines"] }}<br/>
                % Negative: {{ source2Dict["Negative headlines"] }}%<br/>
                % Neutral: {{ source2Dict["Neutral headlines"] }}%<br/>
                % Positive: {{ source2Dict["Positive headlines"] }}%<br/><br/>
                {% endif %}
                </td>
                {% endif %}
            </tr>

            
        </table>
        {% endif %}
    </div>
    
    </div>
</body>
</html>